<!-- header area -->
<div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-2 nothing"></div>
        <div class="col-md-8 col-xs-8 logo_top">
          <a href="">
            <!-- <img src="src/img/logo.png"> -->
          </a>
        </div>
        <div class="col-md-2 col-xs-2 flag_vi_en">
          <a href="">
            <img src="src/icon/lang-vi.svg">
          </a>
          <a href="">
            <img src="src/icon/lang-en.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="menu_bar">
    <div class="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="">
              <ul id="" class="menu_main">
                <li id="" class="menu-item">
                  <a href="#">Trang Chủ</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">Giới thiệu</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">Hệ thống phòng</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">Dịch vụ</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">Liên hệ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header area -->