<!-- header area -->
<div class="top_bar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-2 nothing"></div>
        <div class="col-md-8 col-xs-8 logo_top">
          <a href="">
            <!-- <img src="src/img/logo.png"> -->
          </a>
        </div>
        <div class="col-md-2 col-xs-2 flag_vi_en">
          {% if site.lang == "vi" %}
            {% capture link1 %}{{ site.baseurl_root }}en{{ page.url}}{% endcapture %}
            <a href="{{ link1 }}" ><img src="src/icon/lang-en.svg"></a>
          {% elsif site.lang == "en" %}
            {% capture link2 %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
            <a href="{{ link2 }}" ><img src="src/icon/lang-vi.svg"></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="menu_bar">
    <div class="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="">
              <ul id="" class="menu_main">
                <li id="" class="menu-item">
                  <a href="#">{% t menu.home_page %}</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">{% t menu.introduce %}</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">{% t menu.room_system %}</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">{% t menu.service %}</a>
                </li>
                <li id="" class="menu-item">
                  <a href="#">{% t menu.contact %}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header area -->