<!-- content body -->
<div class="content_homepage">
    <div class="container">
        <div class="booking_form">
            <p>
                <noscript>Lưu ý: Cần phải có JavaScript với nội dung này.</noscript>
            </p>
            <h3>Đặt Phòng</h3>
            <p>
                <i>Các trường được đánh dấu (
                    <span class="text-red">*</span>) là bắt buộc</i>
            </p>
            <div>
                <form id="gform" method="POST" class="pure-form pure-form-stacked" data-email="nhanghimaichau@gmail.com" action="https://script.google.com/macros/s/AKfycby10RpMy2Fm-KKmfeyewOtrAI5SoouBEYSYIAplGg/exec">
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Họ và tên
                            <span class="text-red">*</span>
                        </label>
                        <input id="name" name="name" class="form-control" type="text" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Điện thoại
                            <span class="text-red">*</span>
                        </label>
                        <input id="phone" name="phone" class="form-control" type="text" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Email
                            <span class="text-red">*</span>
                        </label>
                        <input id="email" name="email" class="form-control" type="email" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Loại phòng</label>
                        <select id="type" name="type" class="form-control">
                            <option value="Không chọn"></option>
                            <option value="Một giường đôi">Một giường đôi</option>
                            <option value="Hai giường đôi">Hai giường đôi</option>
                            <option value="Ba giường đôi">Ba giường đôi</option>
                            <option value="Phòng VIP">Phòng VIP</option>
                        </select>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Số người (Tổng)</label>
                        <input id="persons" name="persons" class="form-control" type="number" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Số trẻ em</label>
                        <input id="childrens" name="childrens" class="form-control" type="number" value="" />
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Ngày đi</label>
                        <div class='input-group date' id=''>
                            <input id="from" name="from" input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group">
                        <label for="" class="">Ngày về</label>
                        <div class='input-group date' id=''>
                            <input id="to" name="to" input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div id="" class="col-md-4 col-sm-4 form-group col-btn-book">
                        <label for="" class=""></label>
                        <button id="btn-book" class="btn btn-info">
                            <i class="fa fa-paper-plane"></i>Book Now
                        </button>
                    </div>
                </form>
                <div style="display:none;" id="thankyou_message">
                    <h3 class="text-red">
                        <em>Xin cảm ơn! Chúng tôi sẽ sớm liên lạc với bạn.</em>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="gioithieu_area">
            <p></p>
            <h2>Nhà nghỉ Tuấn Anh</h2>
            <h6>Kính chào quý khách</h6>
            <p></p>
            <div class="row">
                <div class="col-md-6">
                    <div class="hinh_anh_hethong">
                        <div class="gioithieu_trangchu">
                            <img src="src/img/main-content.jpg"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mota_hethong">
                        <p>
                            <strong class="text-red">Nhà nghỉ Tuấn Anh</strong> nằm ngay tỉnh lộ 15B, đối diện Hồ Mỏ Luông, ở đầu bản Lác – nơi đã
                            có tuổi đời trên 700 năm, mang đậm bản sắc văn hóa của người Thái trắng.</p>
                        <p>
                            <strong class="text-red">Nhà nghỉ Tuấn Anh</strong> được xây dựng và đưa vào hoạt động đầu năm 2017, với hệ thống phòng
                            ốc mới mẻ, hiện đại và tiện nghi sẵn sàng phục vụ cho quý khách 24/7, nhà nghỉ Tuấn Anh hứa hẹn
                            sẽ là nơi dừng chân nghỉ dưỡng lí tưởng cho bất kỳ du khách nào đến với Mai Châu.</p>
                        <p>
                            Từ
                            <strong class="text-red">nhà nghỉ Tuấn Anh</strong> quý khách có thể thuận tiện tham quan được tất cả các điểm du lịch
                            thiên nhiên gần trung tâm, gồm:
                            <i class="text-red">Bản Lác, bản Văn, bản Pom Coọng, bản Nhót, hang Chiều, hang Mỏ Luông, hồ Mỏ Luông, suối Sia,
                                thác Gò Lào, đảo dừa</i>...</p>
                        <p>
                            <strong class="text-red">Nhà nghỉ Tuấn Anh</strong> cung cấp nhiều dịch vụ phục vụ khách du lịch như:
                            <ul>
                                <li>Giới thiệu & tổ chức tour du lịch.</li>
                                <li>Dẫn khách đi tham quan bằng
                                    <i class="text-red">xe oto điện</i> (chở tối đa 16 người): giá từ 250.000 – 500.000 VND.</li>
                                <li>
                                    <i class="text-red">Cho thuê xe ô tô, xe máy và xe đạp.</i>
                                </li>
                                <li>Nước uống, cafe.</li>
                                <li>Giặt là.</li>
                            </ul>
                        </p>
                        <p>
                            Chúng tôi cam kết mang lại cho quý khách sự thoải mái và hài lòng trong thời gian lưu trú tại nhà nghỉ.
                        </p>
                        <p>
                            Địa chỉ: Nhà nghỉ Tuấn Anh, khu hồ Mỏ Luông, Mai Châu, Hòa Bình.
                        </p>
                        <p class="text-red">
                            Sđt - zalo:
                            <a href="tel:0915694871">0915.694.871 ( A. Tuấn Anh )</a>
                        </p>
                        <p class="text-red">
                            Sđt - zalo:
                            <a href="tel:0972248487 ">0972.248.487 ( Chị Hiền )</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hethongphong_area">
            <h2>Hệ Thống Phòng</h2>
            <h6>Đảm bảo uy tín, chất lượng, giá cả hợp lý.</h6>

            <div class="row">

                <div class="col-md-4">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <img src="src/img/motgiuongdoi.jpg" /> </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> Phòng 1 giường đôi </a>
                            </h3>
                            <p>
                                <span>250.000 VND</span>
                                <a href="#">
                                    <button>Đặt Ngay</button>
                                </a>1
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <img src="src/img/haigiuongdoi.jpg" /> </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> Phòng 2 giường đôi </a>
                            </h3>
                            <p>
                                <span>350.000 VND</span>
                                <a href="#">
                                    <button>Đặt Ngay</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <img src="src/img/bagiuongdoi.jpg" /> </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> Phòng 3 giường đôi </a>
                            </h3>
                            <p>
                                <span>400.000 VND</span>
                                <a href="#">
                                    <button>Đặt Ngay</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="room_items">
                        <div class="img_room_items">
                            <a href="#">
                                <!-- <img src="https://dummyimage.com/700x493/" /> </a> -->
                                <div class="img-vip" src=""></div>
                            </a>
                        </div>
                        <div class="info_room_items">
                            <h3>
                                <a href="#"> Phòng VIP </a>
                            </h3>
                            <p>
                                <span>300.000 VND</span>
                                <a href="#">
                                    <button>Đặt Ngay</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content body -->